
@{
    ViewData["Title"] = "Password recovery";
}

<h3 class="mt-5 text-primary">Password recovery</h3>

<h5 class="mt-5 text-success">
    The link has been sent, please check your email to reset your password.
</h5>
