@using Application.Models.Identity;
@model ForgotPasswordRequest;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> sharedLocalizer;

@{
    ViewData["Title"] = localizer["PswRecovery"];
}

<h3 class="mt-5">@localizer["EnterEmail"]</h3>

<div class="mt-5 row">
    <div class="col-lg-4 col-md-6">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="validation text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" autocomplete="email" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-4 form-group">
                <input type="submit" value="@sharedLocalizer["Submit"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
@section scripts {
    <partial name="_ValidationScriptsPartial" />
}