@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> sharedLocalizer;
@{
    ViewData["Title"] = localizer["PswRecovery"];
}

<h3 class="mt-5 text-primary">@localizer["PswRecovery"]</h3>

<h5 class="mt-5 text-success">
    @localizer["Confirm"].
</h5>
