@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> sharedLocalizer;

<h3 class="mt-5">@localizer["PswResetTitle"]</h3>

<h5 class="mt-5 text-success">
    @localizer["PswResetSuccess"]. <a asp-action="SignIn">@sharedLocalizer["SignIn"]</a>
</h5>
