@model ErrorViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> sharedLocalizer;
@{
    ViewData["Title"] = @sharedLocalizer["Error"];
}

<h1 class="text-danger">@sharedLocalizer["Error"].</h1>
<h2 class="text-danger">@sharedLocalizer["ErrorRequest"]</h2>

@if(!string.IsNullOrEmpty(Model.Message)) {
    <p class="text-danger">@Model.Message</p>
}


